<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label ng-if="edit" id="editPago">Cambiar Datos de un Pago</label></div>
        <div class="panel-body">
            <form ng-submit="updatePago()" name="pago">
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <font color=black><label style="color:#000000" for="pagoNombrePago" class="col-sm-6">Descripcion del pago:</label>
                        <input id="pagoNombrePago" required ng-model="pagoNombrePago" class="col-sm-6"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="pagoFecha" class="col-sm-6">Fecha del Pago:</label>
                        <input type="date" id="pagoFecha" placeholder="DD/MM/YYYY" required ng-model="pagoFecha" class="col-sm-6">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="pagoMontoTotal" class="col-sm-6">Monto del Pago:</label>
                        <input id="pagoMontoTotal" required ng-model="pagoMontoTotal" class="col-sm-6"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-4" ng-if="!pago.$valid">
                        <div class="alert alert-warning" >
                            <strong>¡Advertencia!</strong><p>Todos los campos son requeridos*</p>
                        </div>
                    </div> 
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-12">
                        <input ng-show="pago.$valid" type="submit" value="Confirmar" class="btn btn-success"/>
                        <a class="btn btn-info" ui-sref="pagosList">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>