<html ng-app="mainApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title style="color:#B2208B">La Union | Bodas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
        <!-- Dependencias Externas -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>

        
<!-- <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
        
        
        <!-- Bodas -->
        <script src="src/modules/bodas/bodas.mod.js" type="text/javascript"></script>
        <script src="src/modules/bodas/bodas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bodas/delete/bodas.delete.ctrl.js" type="text/javascript"></script>  
        <script src="src/modules/bodas/new/bodas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bodas/update/bodas.update.ctrl.js" type="text/javascript"></script>

        <!-- Ubicaciones -->
        <script src="src/modules/ubicaciones/ubicaciones.mod.js" type="text/javascript"></script>
        <script src="src/modules/ubicaciones/ubicaciones.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/ubicaciones/delete/ubicaciones.delete.ctrl.js" type="text/javascript"></script>  
        <script src="src/modules/ubicaciones/new/ubicaciones.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/ubicaciones/new/regaloUbicaciones.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/ubicaciones/update/ubicaciones.update.ctrl.js" type="text/javascript"></script>

        <!-- Modulo Pareja .mod  -->
        <script src="src/modules/parejas/parejas.mod.js" type="text/javascript"></script>
        <script src="src/modules/parejas/parejas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/parejas/create/parejas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/parejas/update/parejas.update.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/regalos/regalos.mod.js" type="text/javascript"></script>
        <script src="src/modules/regalos/regalos.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/regalos/delete/regalos.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/regalos/new/regalos.new.ctrl.js" type="text/javascript"></script> 
        <script src="src/modules/regalos/update/regalos.update.ctrl.js" type="text/javascript"></script> 

        <script src="src/modules/invitados/invitados.mod.js" type="text/javascript"></script>
        <script src="src/modules/invitados/invitados.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/invitados/delete/invitados.delete.ctrl.js" type="text/javascript"></script>  
        <script src="src/modules/invitados/new/invitados.new.ctrl.js" type="text/javascript"></script> 
        <script src="src/modules/invitados/update/invitados.update.ctrl.js" type="text/javascript"></script> 


        <!-- Modulos TarjetasCredito -->
        <script src="src/modules/tarjetasCredito/tarjetasCredito.mod.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/tarjetasCredito.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/delete/tarjetas.delete.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/update/tarjetas.update.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/new/tarjetas.new.js" type="text/javascript"></script>

        <!-- Modulos Pagos -->
        <script src="src/modules/pagos/pagos.mod.js" type="text/javascript"></script>
        <script src="src/modules/pagos/pagos.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/pagos/new/pagos.new.js" type="text/javascript"></script>
        <script src="src/modules/pagos/update/pagos.update.js" type="text/javascript"></script>

        <!--Modulos Proveedores -->
        <script src="src/modules/proveedores/proveedores.mod.js" type="text/javascript"></script>
        <script src="src/modules/proveedores/proveedores.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/proveedores/delete/proveedores.delete.ctrl.js" type="text/javascript"></script>  
        <script src="src/modules/proveedores/new/proveedores.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/proveedores/update/proveedores.update.ctrl.js" type="text/javascript"></script>

        <!--Modulos Servicios -->
        <script src="src/modules/servicios/servicios.mod.js" type="text/javascript"></script>
        <script src="src/modules/servicios/servicios.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/servicios/delete/servicios.delete.ctrl.js" type="text/javascript"></script>  
        <script src="src/modules/servicios/new/servicios.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/servicios/update/servicios.update.ctrl.js" type="text/javascript"></script>

        <!-- Modulos Tareas -->
        <script src="src/modules/tareas/tareas.mod.js" type="text/javascript"></script>
        <script src="src/modules/tareas/tareas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/tareas/delete/tareas.delete.ctrl.js" type="text/javascript"></script> 
        <script src="src/modules/tareas/new/tareas.new.ctrl.js" type="text/javascript"></script> 
        <script src="src/modules/tareas/update/tareas.update.ctrl.js" type="text/javascript"></script>

        <!-- Modulos OpcionesServicio -->
        <script src="src/modules/opciones/opciones.mod.js" type="text/javascript"></script>
        <script src="src/modules/opciones/opciones.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/opciones/delete/opciones.delete.ctrl.js" type="text/javascript"></script> 
        <script src="src/modules/opciones/new/opciones.new.ctrl.js" type="text/javascript"></script> 
        <script src="src/modules/opciones/update/opciones.update.ctrl.js" type="text/javascript"></script> 

        <!-- Modulos Calificaciones -->
        <script src="src/modules/calificacion/calificaciones.mod.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/calificacion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/create/calificaciones.new.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/update/calificaciones.update.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/login/login.mod.js" type="text/javascript"></script>
        <script src="src/modules/login/login.ctrl.js" type="text/javascript"></script>        
        <script src="src/modules/login/logout.ctrl.js" type="text/javascript"></script>

        <script src="src/app.js" type="text/javascript"></script> 
        <script src="src/http-interceptor.factory.js" type="text/javascript"></script>

        <link rel="stylesheet" href="resources/css/style.css">
        <link rel="icon" href="https://image.ibb.co/nj4AY6/logobodaspeq.jpg" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
        
       
        
    </head>
    <body>

        <div class="loader"></div>
        <header class="page-header">
            <h1 class="titulo-principal">La Union, planeación de bodas. </h1> 

            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">La Union</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav " >
                            <li ng-show="isAuthenticated() && currentUser.rol == 'admin'"><a ui-sref="parejasList">Parejas</a></li>
                            <li ng-show="isAuthenticated() && currentUser.rol == 'admin' "><a ui-sref="bodasList">Bodas</a></li>
                            <li ng-show="isAuthenticated() && currentUser.rol == 'pareja'"><a ui-sref="parejasDetail({parejaId: currentUser.username})">Informacion</a></li>
                            <li><a ui-sref="serviciosList">Servicios</a></li>
                            <li><a ui-sref="proveedoresList">Proveedores</a></li>
                        </ul>
                        <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
                            <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>Acceder</a></li>
                             <li><button type="button" ui-sref="parejasCreate" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-in"></span>Regístrate</button></li>
                        </ul>
                        
                        <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
                            <li> <p class="navbar-text">Hola, {{currentUser.name}}</p></li>
                            <li> <a ui-sref="logout">Logout</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <!--                      <div class="col-md-4">
                                        
                                        
                                    </div>-->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <section id="seccion_principal" class="container-fluid col-md-12">
            <div class="container">
        <div class="alert alert-danger alert-dismissible" ng-repeat="alert in alerts" type="{{alert.type}}"  role="alert">
            <button ng-click="closeAlert({index})" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{alert.msg}}
          </div>
        </div>
            <div ui-view="mainView" class=" ">

            </div>
     
        </section>

    </body>
</html>

