<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label ng-if="edit" id="editTarjeta">Cambiar Datos de Tarjeta De Credito</label></div>
        <div class="panel-body">
            <form ng-submit="createTarjeta()" name="tarjeta">
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="tarjetaNumDeSeg" class="col-sm-6">Numero de Seguridad:</label>
                        <input id="tarjetaNumDeSeg" required ng-model="tarjetaNumDeSeg" class="col-sm-6"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="tarjetaFechaVen" class="col-sm-6">Fecha de Vencimiento:</label>
                        <input type="date" id="tarjetaFechaVen" placeholder="DD/MM/YYYY" required ng-model="tarjetaFechaVen" class="col-sm-6">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="tarjetaBanco" class="col-sm-6">Nombre del Banco:</label>
                        <input id="tarjetaBanco" required ng-model="tarjetaBanco" class="col-sm-6">                     
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-4" ng-if="!tarjeta.$valid">

                        <div class="alert alert-warning" >
                            <strong>¡Advertencia!</strong><p>Todos los campos son requeridos*</p>
                        </div> 
                    </div> 
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-12">
                        <input ng-show="tarjeta.$valid" type="submit" value="Confirmar" class="btn btn-success"/>
                        <a class="btn btn-info" ui-sref="parejasList">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>