<div class="container-fluid">
    <div class="panel-group">
        <div>
            <div class="panel-heading"><h1 style="font-family: 'Quicksand', sans-serif;color:#F48FB1;" ng-if="!edit" id="ubicacionCreate">Crear nueva ubicacion</h1>
                <h1  style="font-family: 'Quicksand', sans-serif;color:#F48FB1;" ng-if="edit" id="editUbicacion">Editar ubicacion</h1></div>
            <div class="panel-body">
                <form ng-submit="createUbicacion()" name="ubicacion">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ubicacionName" class="col-sm-2">Nombre de la ubicacion:</label>
                            <input id="ubicacionName" required ng-model="ubicacionName" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ubicacionDireccion" class="col-sm-2">Dirección:</label>
                            <input id="ubicacionDireccion"  required ng-model="ubicacionDireccion" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ubicacionTelefono" class="col-sm-2">Teléfono:</label>
                            <input type="tel" id="ubicacionTelefono" required ng-model="ubicacionTelefono" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="latitud" class="col-sm-2">Latitud</label>
                            <input  id="ubicacionLatitud" required ng-model="ubicacionLatitud" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="longitud" class="col-sm-2">Longitud:</label>
                            <input  id="ubicacionLongitud" required ng-model="ubicacionLongitud" class="col-sm-6">
                        </div>
                    </div>                   
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!ubicacion.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>Todos los campos son requeridos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="ubicacion.$valid" type="submit" value="¡Empecemos!" class="btn btn-success"/>
                            <button class="botones"  onclick="goBack()">Cancelar</button>

                             <script>
                              function goBack() {
                              window.history.back();
                               }
                             </script>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


