<!-- Sitio del slide show -->
<section>
    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicadores -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active">  </li>
                        <li data-target="#carousel-1" data-slide-to="1">  </li>
                        <li data-target="#carousel-1" data-slide-to="2">  </li>
                    </ol>             

                    <!-- Contenedor de slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="resources/img/boda2.jpg" alt="Segundo Slide" />
                            <div class="carousel-caption ">
                                <p>Las imagenes son de pixabay.com con licencia CC0 Creative Commons</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="resources/img/boda1mod.jpg" alt="Primer Slide" />

                        </div>
                        <div class="item ">
                            <img src="resources/img/boda3mod.jpg" alt="Tercer Slide" />
                        </div>
                    </div>


                    <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>

                    <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- sITIO DE LA LISTA DE PAREJAS -->
<section class="col-sm-8 col-sm-offset-2" id="seccion_pareja" ng-if="isAuthenticated() && hasPermissions()" ng-show="isAuthenticated() && hasPermissions()">
    <div class="panel panel-danger  " >    
<!--        <div class="panel-heading">
            <h3 class="panel-title" style="color:white">Lista de Parejas</h3>            
        </div>-->
        <div><h2>Lista de Parejas</h2></div>
        <div class="panel-body">
           
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <a  class="btn boton-agregar"   ui-sref="parejasCreate" ><!--botones--->
                <span class="glyphicon glyphicon-plus"   ></span> <b>Nueva Pareja</b> 
            </a> 
    <div class="btn-group right">

                
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
     <strong>Ordenar: </strong>{{currentOrdenPa}}<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li><a ng-click="ctrl.orderInvParejas('correoElec','Correo')">Correo</a></li>
    <li><a ng-click="ctrl.orderInvParejas('nombreInd1','Nombre 1')">Nombre 1</a></li>
        <li><a ng-click="ctrl.orderInvParejas('nombreInd1','Nombre 2')">Nombre 2</a></li>    
        <li><a ng-click="ctrl.orderInvParejas('telefono','Telefono')">Telefono</a></li>

  </ul> </div>
             <form class="navbar-form navbar-right" ng-submit="" name="busqueda">
                <div class="input-group">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar invitado" required ng-model="idParejaOrd">
                    </div>
                    <div class="input-group-btn">
                        <input type="submit" value="Buscar" class="btn btn-default" />
                    </div>
                </div>
            </form>
            
</div>
            
            <table class="table "> 
                <thead>
                    <tr>
                        <th>Correo</th>

                        <th>Actions</th>
                        <th>Detalles</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pareja in parejasRecords|filter:idParejaOrd|orderBy:tipoOrdenPareja" ng-init="tipoOrdenPareja='correoElec'">
                        <td id="{{$index}}-email">{{pareja.correoElec}}    

                            <div ng-show="isOpen(pareja)">                   
                                <div ui-view="detailOneView"></div>
                            </div> 
                        </td>

                        <td>
                            <a id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="parejasUpdate({parejaId: pareja.correoElec})">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button id="{{$index}}-delete-btn" class="btn btn-danger btn-sm sweet-2" ng-click="ctrl.deleteRecord(pareja)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>

                        <td id="{{$index}}-detail" > 
                            <a class="btn boton-detalle" ui-sref="parejasOneDetail({parejaId: pareja.correoElec})" ng-click="Open(pareja)"><span class="glyphicon glyphicon-zoom-in"  ></span>Ver Detalles</a>                     
                        </td>    
                    </tr>       
                </tbody>
            </table>

        </div>

    </div>
</section>

<div class="container" ng-if="isAuthenticated() && !hasPermissions()">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="float-left display-3 mr-4">403 Forbidden</h1>
                <h4 >You do not have permission for this action.</h4>
                <p >Contact the administrator to obtain permission.</p>
            </div>
        </div>
    </div>


