<link rel="stylesheet" href="resources/css/style.css">
<div class="col-md-12">
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel">
            <div class="panel-heading"><h1 style="font-family: 'Quicksand', sans-serif;color:#F48FB1;" ng-if="!edit" id="bodaCreate">Crear nueva boda</h1>
                <h1 style="font-family: 'Quicksand', sans-serif;color:#F48FB1;" ng-if="edit" id="editBoda">Editar boda</h1></div>
            <div class="panel-body">
                <form ng-submit="createBoda()" name="boda">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="bodaName" class="col-sm-2">Nombre de la boda:</label>
                            <input id="bodaName" required ng-model="bodaName" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="bodaFecha" class="col-sm-2">El gran día será:</label>
                            <input type="date" id="bodaFecha" placeholder="DD/MM/YYYY" required ng-model="bodaFecha" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="bodaTema" class="col-sm-2">Tema:</label>
                            <input id="bodaTema" required ng-model="bodaTema" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="bodaReligion" class="col-sm-2">Religion</label>
                            <select for="bodaReligion" required ng-model="bodaReligion"  onchange="if(this.value=='Otro') document.getElementById('otrareligion').disabled = false">
                                 <option value="catolica">Católica</option>
                                 <option value="judia">Judía</option>
                                 <option value="musulmana">Musulmana</option>
                                 <option value="budista">Budista</option>
                                 <option value="hindu">Hindú</option>
                                 <option value="cristiana">Cristiana</option>
                                 <option value="ninguna">Ninguna</option>
                                 <option value="Otro">Otra religión</option>
                                 <input type="text" id="otrareligion" size="12" value="Otra religión" disabled>
                            </select>                        
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="bodaTipo" class="col-sm-2">Tipo de boda (aniversario):</label>
                            <select for="bodaTipo" required ng-model="bodaTipo" >
                                 <option value="bronce">Bronce (8)</option>
                                 <option value="aluminio">Aluminio (10)</option>
                                 <option value="cristal">Cristal (15)</option>
                                 <option value="porcelana">Porcelana (20)</option>
                                 <option value="plata">Plata (25)</option>
                                 <option value="rosas">Rosas (26)</option>
                                 <option value="perla">Perla (30)</option>
                                 <option value="coral">Coral (35)</option>
                                 <option value="rubi">Rubí (40)</option>
                                 <option value="zafiro">Zafiro (45)</option>
                                 <option value="oro">Oro (50)</option>
                                 <option value="esmeralda">Esmeralda (55)</option>
                                 <option value="diamante">Diamante (60)</option>
                                 <option value="platino">Platino (65)</option>
                                 <option value="ninguno">Ninguno</option>
                            </select> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="bodaImage" class="col-sm-2">Imagen de la pareja:</label>
                            <input id="bodaImage" required ng-model="bodaImage" class="col-sm-6"/>                     
                        </div>
                    </div>
                    <div class="form-group row" ng-show="isAuthenticated() && currentUser.rol == 'admin'">
                        <div class="form-group col-md-6">
                            <label for="bodaIdPareja" class="col-sm-2">Correo de la Pareja</label>
                            <input id="bodaIdPareja"  ng-model="bodaIdPareja" class="col-sm-6"/>                     
                        </div>
                    </div>
                   <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!boda.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>Todos los campos son requeridos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="boda.$valid" class="botones" type="submit" value="¡Empecemos!" class="btn btn-success"/>
                            <a class="botones"  ui-sref="parejasDetail({parejaId: currentUser.username})" ng-show="isAuthenticated() && currentUser.rol === 'pareja' ">Cancelar</a>
                            <a class="botones"  ui-sref="bodasList" ng-show="isAuthenticated() && currentUser.rol === 'admin' ">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

