<!---css-form-->
    <form class="well form-horizontal css-form" ng-submit="createPareja()" name="pareja" id="registro_form" >
       <div> <h2 ng-if="!edit">Crear Pareja</h2>
         <h2 ng-if="edit">Editar Pareja</h2></div>
        <fieldset>
            <!-- Text input-->
            <div class="form-group" ng-class="{'has-success': pareja.email.$valid,'has-error' : !pareja.email.$valid && pareja.email.$touched}" >
                <label class="col-md-4 control-label">E-Mail</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" placeholder="E-Mail " class="form-control" required ng-model="data.correoElec" type="email">
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group" ng-class="{'has-success': pareja.contrasenia.$valid,'has-error' : !pareja.contrasenia.$valid && pareja.contrasenia.$touched}" >
                <label class="col-md-4 control-label">Contraseña</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input name="contrasenia" placeholder="Contraseña de la cuenta" class="form-control" required ng-model="data.contrasenia" type="password">
                    </div>
                </div>
            </div>
             <div class="form-group" ng-class="{'has-success': pareja.contraseniaR.$touched &&repCo == data.contrasenia ,'has-error':!pareja.contrasenia.$valid && pareja.contraseniaR.$touched}" >
                <label class="col-md-4 control-label">Repetir Contraseña</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input name="contraseniaR" placeholder="Repetir contraseña de la cuenta" class="form-control" required ng-model="repCo" ng-match="data.contrasenia"  type="password">
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group"  ng-class="{'has-success': pareja.nombreInd1.$valid,'has-error' : !pareja.nombreInd1.$valid && pareja.nombreInd1.$touched}" >
                <label class="col-md-4 control-label">Nombre 1</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="nombreInd1" placeholder="Nombre 1" class="form-control" required ng-model="data.nombreInd1" type="text">
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group"  ng-class="{'has-success': pareja.nombreInd2.$valid,'has-error' : !pareja.nombreInd2.$valid && pareja.nombreInd2.$touched}">
                <label class="col-md-4 control-label" >Nombre 2</label> 
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="nombreInd2" placeholder="Nombre 2" class="form-control" required ng-model="data.nombreInd2" type="text">
                    </div>
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-success': pareja.nombreAbreviado.$valid && pareja.nombreAbreviado.$touched,'has-error' : !pareja.nombreAbreviado.$valid && pareja.nombreAbreviado.$touched}">
                <label class="col-md-4 control-label" >Nombre abreviado</label> 
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="nombreAbreviado" placeholder="Nombre Adv" class="form-control" ng-model="data.nombreAbreviado" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group"  ng-class="{'has-feedback':  pareja.direccion.$valid,'has-success': pareja.direccion.$valid,'has-error' : !pareja.direccion.$valid && pareja.direccion.$touched}">
                <label class="col-md-4 control-label">Dirección</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="direccion" placeholder="Dirección" class="form-control" required ng-model="data.direccion"  type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group"  ng-class="{'has-success': pareja.telefono.$valid,'has-error' : !pareja.telefono.$valid && pareja.telefono.$touched}">
                <label class="col-md-4 control-label">Telefono #</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="telefono" placeholder="(845)555-1212" class="form-control" required ng-model="data.telefono" type="tel">
                    </div>
                </div>
            </div>
            
            <div class="form-group" >
                <div class="col-md-12 inputGroupContainer">  
                    <label class="col-md-4 control-label"></label>
                    <div class="input-group">
                            <div class="alert alert-warning" ng-if="!pareja.$valid" >
                                <strong>Warning!</strong><p>Todos los campos son requeridos*</p>
                            </div> 
                            <div class="alert alert-success"   ng-show="pareja.$valid"  ng-if="!edit">Correcto! <i class="glyphicon glyphicon-thumbs-up"></i></div>
                 </div>
                </div>
            </div> 

            

            
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4 ">
                    
                    <button  class="btn btn-default"  ui-sref="parejasList" ><span class="glyphicon glyphicon-arrow-left"></span> Cancelar</button>
                    <input ng-show="pareja.$valid" ng-if="!edit" type="submit" value="Crear" class="btn btn-success"/>
                    <input ng-show="edit" ng-if="edit" type="submit"  value="Editar" class="btn btn-warning"/>
                    
                </div>
            </div>

        </fieldset>
    </form>
    
<!--    <style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    border-color: #a94442;
    background-color: #f2dede;
    background-image: glyphicon glyphicon-arrow-left;
  }

  .css-form input.ng-valid.ng-touched {
    border-color: #3c763d; 
  }
</style>
</div>
<script>
     $('#registro_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Por favor coloque un email'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            }
        }
    }).on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
</script> -->