<div class="panel panel-danger">
    <div>
            <center>
            <img align=center src="resources/icons/header.png" >
            <h2>Nuestros servicios</h2>
             </center>
        </div>
      <div class="panel-body" style="margin-left: 8%; margin-right: 8%; ">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 2%">
            <a class="btn btn-info" ui-sref="servicioCreate" style="background: #F48FB1;border: none;" ng-show="isAuthenticated() && currentUser.rol == 'admin' "><span class="glyphicon glyphicon-plus-sign"></span> Agregar nuevo servicio</a>
            <form   ng-submit="" name="busqueda" style="margin-right: 5%; width: 30%;" >
                <div class="input-group">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar servicio (ej: vestidos  )" required ng-model="nameServicio" style="width: 250px;">
                    </div>
                </div>
            </form>
        </div>
        <center>    
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-md-2" ng-repeat="servicio in serviciosRecords|filter:nameServicio">
            <div class="thumbnail">                 
                <a ui-sref="servicioDetail({servicioId: servicio.id})"><img class="img-responsive" ng-src='{{servicio.image}}' alt="{{servicio.name}}" style ="height: 200px;width: 100%;"/></a>                
                    <div class="caption text-center">
                        <p><b>{{servicio.name}}</b></p>
                        <a class="btn btn-danger btn-sm" ui-sref="servicioDelete({servicioId: servicio.id})" ng-show="isAuthenticated() && currentUser.rol == 'admin' "><span class="glyphicon glyphicon-trash"></span></a>   
                        <a class="btn btn-default btn-sm" ui-sref="servicioUpdate({servicioId: servicio.id})" ng-show="isAuthenticated() && currentUser.rol == 'admin' "><span class="glyphicon glyphicon-edit"></span></a>
                    </div>
             </div>
            </div>
        </div>
       
       </center>
          </div>    
      </div>   
</div>