<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="opcionesCreate">Agregar nueva opcion de servicio</label>
            <div class="panel-body">
                <form ng-submit="createOpcionServicio()" name="opcion">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="opcionesDescripcion" class="col-sm-2">Descripcion de la opcion:</label>
                            <input id="opcionesDescripcion" required ng-model="opcionesDescripcion" class="col-sm-6"/>
                        </div>
                    </div>
               
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="opcionesDiasDisponibles" class="col-sm-2">Dias disponibles:</label>
                            <input  id="opcionesDiasDisponibles"  required ng-model="opcionesDiasDisponibles" class="col-sm-6"/>
                        </div>
                    </div>
                   
                     <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="opcionesCosto" class="col-sm-2">Costo:</label>
                            <input  id="opcionesCosto"  required ng-model="opcionesCosto" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="opcionesImage" class="col-sm-2">Imagen:</label>
                            <input id="opcionesImage" required ng-model="opcionesImage" class="col-sm-6"/>                     
                        </div>
                    </div>
                   <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!tarea.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>Todos los campos son requeridos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="opciones.$valid" type="submit" value="Agregar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="opcionesList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




