<form class="well form-horizontal css-form" ng-submit="createCalificacion()" name="califica" id="registro_form" >
       <div> <h1 style="font-family: 'Quicksand', sans-serif;color:#F48FB1; text-align: center;" ng-if="!editC" id="createAuthor">Crear Calificación</h1>
         <h1 style="font-family: 'Quicksand', sans-serif;color:#F48FB1; text-align: center;" ng-if="editC" id="editAuthor">Editar Calificación</h1></div>
        <fieldset>
            <!-- Text input-->
            <div class="form-group" ng-class="{'has-success': califica.puntaje.$valid,'has-error' : !califica.puntaje.$valid && califica.puntaje.$touched}" >
                <label class="col-md-4 control-label">Puntaje</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                        <input name="puntaje" placeholder="1 - 5" class="form-control" required ng-model="data.calificacionNum" type="number" min="1" max="5">
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group" ng-class="{'has-success': califica.comentario.$valid,'has-error' : !califica.comentario.$valid && califica.comentario.$touched}" >
                <label class="col-md-4 control-label">Comentario</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                        <textarea name="comentario" placeholder="Escribe un comentario" class="form-control" required ng-model="data.comentario" ></textarea>                       
                    </div>
                </div>
            </div>


            <!-- Button </input>  <span class="glyphicon glyphicon-send"></span>-->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    
                    <button  class="botones"  ui-sref="calificacionesList" ><span class="glyphicon glyphicon-arrow-left"></span> Cancelar</button>
                    <input ng-show="califica.$valid" ng-if="!editC" type="submit" value="Crear" class="botones"/>
                    <input ng-show="editC" ng-if="editC" type="submit"  value="Editar" class="botones"/>
                    
                </div>
            </div>

        </fieldset>
    </form>