<link rel="stylesheet" href="resources/css/style.css">
<div class="panel panel-default">
    <div id="headPanel" class="panel-heading">
        <h2>{{currentRegalo.name}}</h2></div>
    <div class="panel-body">
        <table class="table "> 

            <tbody>

            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentRegalo.imagen}}"/>
                </div>
            </div>

        </div>
        <div class="col-md-9"> 
            <dl> 
                <a ng-show="imgComprado(currentRegalo.comprado)"></a>
                <hr>
                <dt>Comprado <img class="img-responsive" ng-src='{{imagenComprado}}'  style =" width:20px; height:20px;  " align="left"/></h5> </dt>
                <br>
                <dd class="HC">Selecciona una de las ubicaciones del regalo "{{currentRegalo.name}}" y encuentra el lugar ideal para comprarlo.</dd>
                <br>
            <div>  
            <a class="botones" ng-click="agregar()" ><span class="glyphicon glyphicon-plus"></span> <b>Agregar ubicacion</b></a>

            <tr ng-repeat="ubicacion in currentRegalo.locations">
            <dd><h2>Ubicaciones: </h2></dd>
                <br>
                <td id="{{$index}}-name"><a ui-sref="ubicacionDetail({ubicacionId:ubicacion.id})">{{ ubicacion.name}}</a></td>
                <td id="{{$index}}-telefono">{{ ubicacion.direccion}}</td>
                <td id="{{$index}}-direccion">{{ ubicacion.telefono}}</td>
                <td id="{{$index}}-actions">
                    <a class="btn btn-danger btn-sm" ui-sref="ubicacionDelete({ubicacionId: ubicacion.id})"><span class="glyphicon glyphicon-trash"></span></a>   
                    <a class="btn btn-default btn-sm" ui-sref="ubicacionUpdate({ubicacionId: ubicacion.id})"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
           </tr>
    </div>
<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-12">
        <div ui-view="childrenView"></div>
    </div>
</div>

</div>
  