<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label ng-if="!edit" id="editPago">Pagar por un Servicio</label></div>
        <div class="panel-body">
            <form ng-submit="createPago()" name="pago">
              <div class="form-group row">
                <div class="form-group col-md-6">
                    <label for="pagoTarjeta" class="col-sm-6">Numero de la Tarjeta con la que realizar el pago:</label>
                    <input id="pagoTarjeta" required ng-model="pagoTarjeta" class="col-sm-6">
                </div>
              </div>
              <div class="form-group row" ng-show="isAuthenticated() && currentUser.rol === 'admin'">
                <div class="form-group col-md-6">
                    <label for="pagoCorreo" class="col-sm-6">Correo Electronico de la Pareja:</label>
                    <input id="pagoCorreo" ng-model="pagoCorreo" class="col-sm-6">
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-sm-4" ng-if="!pago.$valid">
                    <div class="alert alert-warning" >
                        <strong>¡Advertencia!</strong><p>Todos los campos son requeridos*</p>
                    </div>
                </div> 
              </div>
              <div class="form-group row">
                    <div class="form-group col-sm-12">
                        <input ng-show="pago.$valid" type="submit" value="Confirmar" class="btn btn-success"/>
                        <a class="btn btn-info" ui-sref="proveedoresList">Cancelar</a>
                    </div>
              </div>
            </form>
        </div>
    </div>
</div>