<div class="panel panel-danger">

    <div>
        <center>
            <img align=center src="resources/icons/header.png" >
            <h2>Opciones contratadas</h2>
        </center>
    </div>

    <div class="panel-body">
        <div class="col-md-10"  style="margin-left:5%; margin-right:8%;">
            <div  class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 2%">
                <a class="btn boton-agregar" style="background: #F48FB1;border: none;" ng-click="contrato()"><span class="glyphicon glyphicon-plus-sign"></span> Contratar opcion</a>
                
                <div class="btn-group right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <strong>Ordenar: </strong>{{currentOrdenOp}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="orderOpciones('costo', 'Costo')">Costo</a></li>
                        <li><a ng-click="orderOpciones('diasDisponibles', 'Dias Disponibles')">Dias Disponibles</a></li>
                    </ul>
                </div>
            </div>
            <center>
                <div class="row">
                    <div class="col-lg-2 col-sm-5 col-md-4" ng-repeat="opcion in opcionesRecords|orderBy:tipoOrdenOpcion" ng-init="tipoOrdenOpcion = 'costo'">
                        <div class="thumbnail">                 
                            <a ui-sref="opcionDetail({opcionId: opcion.id})"><img class="img-responsive" ng-src='{{opcion.image}}' alt="{{opcion.descripcion}}" style ="height: 200px;width: 100%;"/></a>                
                            <div class="caption text-center">
                                <p>{{opcion.descripcion}}</p>
                            </div>
                        </div>

                    </div> 

                </div>

            </center>
            <div class="btn-group" role="group">
                <a class = "botones" ui-sref="bodaDetail({bodaId:parametrobodaId })"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
            </div> 
        </div>
    </div>
</div>