<div class="panel panel-danger">
  
    <div>
            <center>
            <h2>Opciones</h2>
             </center>
        </div>
    
    <div class="panel-body">
         <div class="col-md-10"  style="margin-left:5%; margin-right:8%;">
             
               <div  class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 2%">
                        <a class="botones" ui-sref="opcionesCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar nueva opcion</a>                  
                </div>
             
             <center>  
                 
        <div class="row">
            <div class="btn-group right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <strong>Ordenar: </strong>{{currentOrdenOp}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="orderOpciones('costo', 'Costo')">Costo</a></li>
                <li><a ng-click="orderOpciones('diasDisponibles', 'Dias Disponibles')">Dias Disponibles</a></li>
            </ul>
        </div>

        <div  ng-repeat="opcion in opcionesRecords|orderBy:tipoOrdenOpcion" ng-init="tipoOrdenOpcion = 'costo'">
            <div class="thumbnail">                 
                <a ui-sref="opcionDetail({opcionId: opcion.id})"><img class="img-responsive" ng-src='{{opcion.image}}' alt="{{opcion.descripcion}}" style ="height: 200px;width: 100%;"/></a>                
                    <div class="caption text-center">
                        <p>{{opcion.descripcion}}</p>
                    </div>
             </div>
                
            </div> 
            
             
           
        </div>
              
       </center>
                <div class="btn-group" role="group">
            <a class = "btn btn-default" ui-sref="proveedoresList"><span class="glyphicon glyphicon-arrow-left"></span> Ir a proveedores</a>
             </div> 
      
     
       
    </div>
 </div>
</div>


           
